# Windows
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
linux_venv/
fedora_venv/
.pytest_cache/
backup_runner.log
build/
dist/
id_rsa_gfreak412
id_rsa_gfreak412.pub
CONTEXT.md
GEMINI.md
# Env
.env